section.content {
    display: flex;
    height: 100vh;
    background: rgb(252, 254, 255);
}

section.serial {
    font-family: Verdana;
    width: 31vw;
    height: 100vh;
    text-align: center;
    padding: 0 1vw;
}

section.serial h1 {
    margin: 6vh 0;
    font-size: 1.2vw;
    color: #000d2f;
    text-shadow: rgb(0, 76, 255, 0.3) 0px 0px 5px;
}

section.serial div.send {
    width: 100%;
    display: flex;
    margin-bottom: 1vh;
    justify-content: space-between;
}

section.serial div.send input {
    width: 80%;
    font-size: 0.9vw;
    padding: 0.5vh 0.5vw;
}

input.primaryButton {
    color: white;
    background: #005CC8;
    border: none;
    box-shadow: rgba(0, 71, 153, 0.3) 0px 0px 7px 3px;
}

input.primaryButton:hover {
    background: #004799;
    cursor: pointer;
}

button.secondaryButton {
    color: white;
    background: #b8d9ff;
    border: 1px solid black;
    box-shadow: rgba(0,0,0,0.1) 0px 0px 2px 1px;
}

button.secondaryButton:hover {
    background: #9ecbff;
    cursor: pointer;
}

div.showTimestamp {
    line-height: 3vh;
}

div.showTimestamp input {
    width: 1vw;
    height: 1vw;
}

section.serial div.send button {
    width: 15%;
}

section.serial div.text textarea {
    width: 100%;
    height: 50vh;
    resize: none;
    font-size: 1em;
}

div.space {
    display: flex;
    justify-content: space-between;
    margin: 2vh 0;
}

div.space label {
    font-size: 1vw;
}

button.clear {
    width: 15%;
    height: 4vh;
}

input.start {
    margin-top: 4vh;
    width: 30%;
    height: 6vh;
    font-size: 1.3vw;
}

section.serial0 {
    border-right: 4px solid black;
}

section.serial2 {
    border-left: 4px solid black;
}

div.space select {
    height: 3vh;
    font-size: 0.95vw;
}

div.port button {
    height: 3vh;
    width: 3vh;
}