div.Device {
    background: white;
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.2);
    display: flex;
    font-family: 'Century Gothic';
    padding: 2vh 0.5vw 2vh 2vw;
    height: 75vh;
}

div.content {
    width: 21vw;
    text-align: center;
}

div.title {
    display: inline-flex;
    height: 10%;
}

div.title img {
    width: 3vw;
    height: 3vw;
    margin: auto 0;
}

div.title h1 {
    margin: auto 0 auto 1vw;
    font-weight: lighter;
    font-size: 200%;
}

div.values {
    height: 73%;
}

div.Props {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    margin: 5vh 0 3vh 0;
    overflow-y: auto;
    max-height: 80%;
    padding-right: 0.8vw;
    scrollbar-width: thin;
}

div.Props {
    --scrollbarBG: #fafafa;
    --thumbBG: #bad3e0;
}
div.Props::-webkit-scrollbar {
    width: 11px;
}
div.Props {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
div.Props::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
div.Props::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

div.Props ul li {
    font-size: 1vw;
    margin: 3vh 0;
    display: flex;
    justify-content: space-between;
}

div.send {
    display: flex;
}

div.send input {
    width: 80%;
    font-family: 'Century Gothic';
    font-size: 0.8vw;
    line-height: 1.5vw;
    padding: 0 0.5vw;
    pointer-events: none; 
}

div.send input.active-button {
    pointer-events: all; 
}

div.send button {
    width: 18%;
    margin-left: 2%;
    background: #b8d9ff;
    border: 2px solid black;
    cursor: pointer;
}
div.send button:hover {
    background: #a0caf7;
}

div.send button img {
    width: 1vw;
}

div.rate {
    font-size: 1vw;
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
}

div.maxRate {
    font-size: 1vw;
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
}

div.maxRate input.rangeInput {
    width: 40%;
}

div.maxRate input.rangeInputValue {
    width: 10%;
    border: none;
    text-align: right;
    font-size: 0.9vw;
    font-family: 'Century Gothic';
}


button.start {
    font-family: 'Century Gothic';
    border: 2px solid black;
    background: #b8d9ff;
    width: 50%;
    height: 6vh;
    font-size: 1.5vw;
    margin: auto 0;
    cursor: pointer;
}

button.start:hover {
    background: #a0caf7;
}

button.stop {
    font-family: 'Century Gothic';
    border: 2px solid black;
    background: #ff802b;
    width: 50%;
    height: 6vh;
    font-size: 1.5vw;
    margin: auto 0;
    cursor: pointer;
}

button.stop:hover {
    background: #fa741b;
}


div.expand {
    width: 3vw;
    text-align: center;
    display: inline-block;
}

div.Close {
    cursor: pointer;
}

div.btnExpand {
    margin: 35vh 0 0 0.5vw;
    cursor: pointer;
}


div.expand-data {
    width: 60vw;
    border-left: 1px solid black;
    margin-left: 1vw;
    display: block;
}

div.graph-container {
    text-align: center;
    margin: 5vh 0;
    max-height: 70%;
}

div.graph-content {
    display: flex;
    justify-content: space-between;
}

div.graph-attributes {
    width: 10%;
}

div.graph-attributes>ul {
    margin-top: 2vh;
}

div.graph-attributes>ul li {
    margin: 0 auto 2vh auto;
    background: #ff7928;
    border-radius: 100%;
    color: white;
    width: 2.5vw;
    line-height: 2.5vw;
    font-size: 1.2vw;
    border: 1px solid black;
    cursor: pointer;
}

div.graph-attributes>ul li span {
    display: none;
}

div.graph-attributes>ul li:hover {
    background: #ff6000;
    border-radius: 30px;
}
div.graph-attributes>ul li:hover span {
    display: block;
    position: absolute;
    z-index: 9;
    background: #ff6000;
    border: 1px solid black;
    border-left: none;
    margin-top: -2.55vw;
    margin-left: 0%;
    border-radius: 30px;
    padding: 0 1vw;
}

div.graph {
    width: 90%;
    /*border: 1px solid black;*/
}

div.graph-search {
    margin-left: 10%;
}

div.graph-search div.from-to {
    display: block;
}

div.graph-search div.from-to>div {
    display: flex;
    margin: 2vh 0;
}

div.graph-search div.from-to>div p {
    width: 7%;
    color: #FF6000;
    font-weight: bold;
    font-size: 1.2vw;
}

div.graph-search div.from-to>div input {
    width: 25%;
    margin: 0 1vw;
    padding: 0 0.1vw;
}
