div.Devices {
    height: 95vh;
    margin-left: 6%;
}
div.Devices ul.DevicesList {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
    --scrollbarBG: #fafafa;
    --thumbBG: #c3deec;
    height: 90%;
    max-width: 91vw;
    margin: 3vh auto 0 auto;
}

ul.DevicesList::-webkit-scrollbar {
    width: 11px;
}
ul.DevicesList {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
ul.DevicesList::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
ul.DevicesList::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

ul.DevicesList>li {
    margin: auto 2vw;
}